<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:remove="all">Credit Approval Notification</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

	<div class="container">

		<div class="panel panel-danger" th:if="${#bools.isTrue(nonProduction)}">
			<div class="panel-body">
				<div class="alert alert-danger" role="alert">
					<strong>Non Production!</strong> Email Notification in non production mode! Below are the actual recipients
				</div>
				<div class="panel panel-info">
					<div class="panel-heading">To</div>
					<div class="panel-body">
						<span class="label label-info" th:each="actTo : ${actualTo}" th:text="${actTo}"></span>
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading">Cc</div>
					<div class="panel-body">
						<span class="label label-info" th:each="actCc : ${actualCc}" th:text="${actCc}"></span>
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading">Bcc</div>
					<div class="panel-body">
						<span class="label label-info" th:each="actBcc : ${actualBcc}" th:text="${actBcc}"></span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-primary">
			<div class="panel-heading">Credit Approval Notification</div>
			<div class="panel-body">
				<h4>
					Hello <span th:text="${name}">name!</span>
				</h4>
				<p>An approver A added to the workflow</p>
				
				<br />
				
					<div th:each="approver : ${approvers}">
						<div class="panel" th:classappend="${approver.status} == 'APPROVED' ? panel-success : ( ${approver.status} == 'REJECTED' ? panel-danger : panel-warning ) " >
							<div class="panel-heading text-center" th:text="${approver.name}">Approver</div>
							<div class="panel-body centered">
								<div class="row"><div class="text-center"><span th:text="${approver.status}">approver.status</span></div></div>
								<div class="row"><div class="text-center"><span th:text="${approver.date}">approver.date</span></div></div>
								<div class="row"><div class="text-center"><span th:text="${approver.response}">approver.response</span></div></div>
							</div>
						</div>
					</div>
					
				
				<br />
				
				<div>
					<table class="table table-striped">
						<tr>
							<th>No</th>
							<th>Name</th>
							<th>Status</th>
							<th>Date</th>
							<th>Comments</th>
						</tr>
						<tr th:classappend="${approver.status} == 'APPROVED' ? success : ( ${approver.status} == 'REJECTED' ? danger : warning ) "  th:each="approver,iter : ${approvers}">
							<td th:text="${iter.index}"></td>
							<td th:text="${approver.name}"></td>
							<td th:text="${approver.status}"></td>
							<td th:text="${approver.date}"></td>
							<td th:text="${approver.response}"></td>
						</tr>
					</table>
				</div>		
				
				<br />

				<div>
					<p>
						Regards, <br /> <em>The Credit Approval Team</em> <br />
					</p>
				</div>
			</div>
		</div>	
		
	</div>
	
	<script src="http://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>